.login {
  padding: 16px;
  height: calc(100vh - 6rem);
  display: flex;
  align-items: center;
  justify-content: center;
}
.box {
  height: auto;
  min-height: 80%;
  box-shadow: 0 25px 50px -12px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.image_container {
  position: relative;
  width: 100%;
  height: 33.3333%;
}
.image {
  object-fit: cover;
}
.form_container {
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
}
.title {
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
}
.google,
.facebook {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 16px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  text-align: center;
  transition: 0.3s;
}
.google {
  box-shadow: 0 0 0 1px rgb(255, 235, 198);
}
.google:hover {
  background-color: rgb(255, 235, 198);
}
.facebook {
  box-shadow: 0 0 0 1px rgb(205, 205, 255);
}
.facebook:hover {
  background-color: rgb(205, 205, 255);
}
.paragraph {
  font-size: small;
  margin-top: 8px;
  margin-bottom: 40px;
  text-align: center;
}
@media (min-width: 768px) {
  .login {
    height: calc(100vh - 9rem);
  }
  .box {
    flex-direction: row;
    width: 100%;
    height: 70%;
  }
  .image_container {
    height: 100%;
    width: 50%;
  }
  .form_container {
    width: 50%;
    padding: 60px 40px;
    justify-content: center;
  }
}
@media (min-width: 1024px) {
  .box {
    width: 60%;
  }
  .form_container {
    padding: 80px 60px;
  }
}
@media (min-width: 1280px) {
  .box {
    width: 50%;
  }
  .title {
    font-size: 30px;
    line-height: 36px;
  }
}

.link {
  text-decoration: underline;
}
