.addForm {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 2rem;
}

.labels {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.inputs {
  padding: 0.5rem;
  border-radius: 0.125rem;
  box-shadow: 0 0 0 1px #fecaca;
  outline: none;
}

.button {
  color: white;
  background-color: #ef4444;
  width: 13rem;
  padding: 0.5rem;
  text-align: center;
}

.option {
  padding: 0.5rem;
  border-radius: 0.375rem;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
  box-shadow: 0 0 0 1px #ef4444;
  background: transparent;
}

.submit {
  padding: 0.5rem;
  width: 100%;
  background-color: #ef4444;
  color: white;
  text-align: center;
}
