/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* body {
  margin: 0;
  line-height: inherit;
} */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
button {
  all: unset;
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}
/* *,
::before,
::after {
  --tw-border-spacing--x: 0;
  --tw-border-spacing--y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
} */
