.cart_icon {
  position: relative;
  width: 32px;
  height: 32px;
}

.cart_link {
  display: flex;
  align-items: center;
  gap: 16px;
}

@media (min-width: 768px) {
  .cart_icon {
    width: 20px;
    height: 20px;
  }
}
