.checkoutForm {
  min-height: calc(100vh - 6rem);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media (min-width: 768px) {
  .checkoutForm {
    min-height: calc(100vh - 15rem);
  }
}

@media (min-width: 1024px) {
  .checkoutForm {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

@media (min-width: 1280px) {
  .checkoutForm {
    padding-left: 10rem;
    padding-right: 10rem;
  }
}

.button {
  background-color: #f56565;
  color: white;
  padding: 1rem;
  border-radius: 0.375rem;
  width: 7rem;
}

.spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
