.navbar {
  height: 3rem;
  color: #ef4444;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  border-bottom: 2px solid #ef4444;
}

.nav_left {
  display: none;
}

.logo {
  font-size: 1.25rem;
  flex: 1;
  text-align: left;
}

.mobile_screen {
  display: block;
}

.nav_right {
  display: none;
}

.phone {
  position: static;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: #fdba74;
  padding: 0.25rem;
  border-radius: 0.375rem;
  cursor: pointer;
}

@media (min-width: 768px) {
  .nav_left {
    display: flex;
    gap: 1rem;
    flex: 1;
  }
  .mobile_screen {
    display: none;
  }
  .navbar {
    height: 6rem;
  }
  .logo {
    font-weight: bold;
    text-align: center;
  }
  .nav_right {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
  }

  .phone {
    position: absolute;
    top: 0.75rem;
    right: 0.5rem;
  }
}

@media (min-width: 1024px) {
  .phone {
    position: static;
  }
  .navbar {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

@media (min-width: 1280px) {
  .navbar {
    padding-left: 10rem;
    padding-right: 10rem;
  }
}
