.offer {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .offer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-image: url(/offerBg.png);
    background-size: cover;
    background-position: center;
    height: 70vh;
  }
  .text_container {
    flex: 1;
    align-items: flex-start;
    text-align: left;
    gap: 1.5rem;
  }
  .image_container {
    height: 100%;
  }
}

@media (min-width: 1280px) {
  .title {
    font-size: 3.75rem;
  }
  .paragraph {
    font-size: 1.25rem;
  }
}

.text_container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2rem;
  padding: 1.5rem;
}

.image_container {
  position: relative;
  flex: 1;
  width: 100%;
}
.image {
  object-fit: contain;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.title {
  color: white;
  font-size: 3rem;
  font-weight: 700;
}

.paragraph {
  color: white;
}

.button {
  background-color: #f43f5e;
  color: white;
  padding: 0.75rem 1.5rem;
  border-radius: 0.375rem;
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 1rem;
}

.button:hover {
  background-color: #e53e3e;
}
