.slider {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 6rem);
  background-color: #fdf4ff;
  overflow: hidden;
}

.text {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  color: #ef4444;
  font-weight: 700;
  text-align: center;
  padding: 1rem;
}

.text h1 {
  text-transform: uppercase;
  font-size: 2.5rem;
  max-width: 90%;
  line-height: 1.2;
}

.text button {
  background-color: #ef4444;
  color: #fff;
  padding: 1rem 2rem;
  font-weight: 600;
  border-radius: 0;
}

.text button:hover {
  background-color: #dc2626;
}

.image_container {
  position: relative;
  flex: 1;
  width: 100%;
  height: 50vh;
}

.image {
  object-fit: cover;
}

@media (min-width: 768px) {
  .slider {
    height: calc(100vh - 9rem);
  }
}

@media (min-width: 768px) {
  .text h1 {
    font-size: 3rem;
  }
}

@media (min-width: 1280px) {
  .text h1 {
    font-size: 4.5rem;
  }
}

@media (min-width: 1024px) {
  .slider {
    flex-direction: row;
  }
}

@media (min-width: 1024px) {
  .image_container {
    height: 100%;
  }
  .text h1 {
    font-size: 4rem;
  }
}

@media (min-width: 820px) and (max-width: 1023px) {
  .slider {
    flex-direction: column;
  }
  .image_container {
    height: 45vh;
  }
  .text {
    height: 55vh;
    flex: none;
  }
}
