.single_product {
  padding: 16px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: #ef4444;
  position: relative;
}
/* شاشات الموبايل */
.image_container {
  position: relative;
  width: 100%;
  height: 280px;
}
.image {
  object-fit: contain;
}
.text_container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: auto;
}
.title {
  font-size: 30px;
  line-height: 1.1;
  font-weight: bold;
  text-transform: uppercase;
}
/* شاشات متوسطة */
@media (min-width: 768px) {
  .single_product {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 48px;
    padding-left: 64px;
    padding-right: 64px;
  }
  .image_container {
    flex: 1;
    height: 420px;
  }
  .text_container {
    flex: 1;
    gap: 20px;
  }
}
/* شاشات كبيرة */
@media (min-width: 1280px) {
  .single_product {
    padding-left: 160px;
    padding-right: 160px;
    gap: 64px;
  }
  .image_container {
    flex: 1;
    height: 520px; /* ✅ زيادة حجم الصورة */
  }
  .text_container {
    flex: 1;
    gap: 24px; /* ✅ تقليل المسافة */
  }
  .title {
    font-size: 48px;
    line-height: 1.1;
  }
}
